@using FlightplanWeb.Models;

<style>
	.icon {
		width: 60px;
		height: 60px;
		margin-right: 2px;
	}
</style>
<form asp-action="FlightPlanList">
	<div class="container p-4 border">
		<div class="row">
			<div class="col-auto">
				<div class="icon-container">
					<img src="/css/images/flight-route-icon.png" alt="Flight Route Icon" class="icon">
				</div>
			</div>
			<div class="col p-2">
				<h1 class="text-primary header-text">Flight Route</h1>
			</div>
			<div class="col p-2">
				<div class="container border p-2">
					<div class="row">
						<div class="col p-2">
							<input name="flightplanToPlotId" value="@ViewBag.flightplanToPlotId" class="form-control" />
						</div>
						<div class="col p-2">
							<input type="submit" value="Display Route" class="btn btn-success form-control" />
						</div>
					</div>
				</div>
			</div>
@*			<div class="col-auto">
				<label class="control-label pt-2" style="font-size:20px;">@ViewBag.routeText</label>
			</div>
*@		</div>
	</div>
</form>
<div class="container p-0 border">
	<div id="mapContainer" style="height: 640px;"></div>

	@section Scripts {
		<script src="~/js/leaflet.js"></script>
		<script src="~/js/leaflet_number.js"></script>
		<script src="~/js/flightmap.js"></script>
		<script>
			var waypoints = @Html.Raw(Json.Serialize(ViewBag.mapRoute));
			initializeMap(waypoints);
		</script>
	}
</div>

<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col-auto">
			<div class="icon-container">
				<img src="/css/images/flight-plan-icon.png" alt="Flight Plan Icon" class="icon">
			</div>
		</div>
		<div class="col-5 p-1">
			<h1 class="text-primary header-text">Flight Plans</h1>
		</div>
		<div class="col-2 text-end pt-2">
			<form asp-action="RetrieveFlightPlan">
				<div class="row">
					<div class="col">
						<button type="submit" value="RetrieveFlightPlan" class="btn btn-success form-control">Retrieve</button>
					</div>
				</div>
			</form>
		</div>

		<div class="col text-end pt-1">
			<form asp-action="FlightPlanList" class="d-flex justify-content-end">
				<div class="container border p-2">
					<div class="row">
						<div class="col-6">
							<input name="filteredCallsign" value="@ViewBag.filteredCallsign" class="form-control" />
						</div>
						<div class="col">
							<input type="submit" value="Filter Callsign" class="btn btn-success form-control" />
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Aircraft</th>
				<th>Departure</th>
				<th>Time of Departure (GMT)</th>
				<th>Arrival</th>
				<th>Time of Arrival (GMT)</th>
				<th>Route</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ViewBag.flightplanToDisplay)
			{
				<tr>
					<td>@item.aircraftIdentification</td>
					<td>@item.departure.departureAerodrome</td>
					<td>@item.departure.timeOfFlight</td>
					<td>@item.arrival.destinationAerodrome</td>
					<td>@item.arrival.timeOfArrival</td>
					<td>Flight Plan Id:[@item.id]<br />@item?.filedRoute?.routeText</td>
				</tr>
			}
		</tbody>
	</table>
</div>
