@using FlightPlanWeb.Models.DTO;
@{
	var flightPlan = ViewData.Model;
}
<br />
<div class="container p-4 border">
	<div class="row pb-2">
		<div class="col">
			<h1 class="text-primary">List</h1>
		</div>
		<div class="col text-end pt-1">
			<a class="btn btn-outline-primary"><i class="bi bi-airplane"></i>Retrieve</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Aircraft</th>
				<th>Departure</th>
				<th>Departure DateTime</th>
				<th>Arrival</th>
				<th>Arrival DateTime</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@flightPlan.id</td>
				<td>@flightPlan.aircraftIdentification</td>
				<td>@flightPlan.departure.departureAerodrome</td>
				<td>@flightPlan.departure.actualTimeOfDeparture</td>
				<td>@flightPlan.arrival.arrivalAerodrome</td>
				<td>@flightPlan.arrival.actualTimeOfArrival</td>
			</tr>
		</tbody>
	</table>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}